@font-face {
    font-family: 'pacifico';
    src: url('../fonts/pacifico-regular-webfont.eot');
    src: url('../fonts/pacifico-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff'),
         url('../fonts/pacifico-regular-webfont.ttf') format('truetype'),
         url('../fonts/pacifico-regular-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-variablefont_wght-webfont.eot');
    src: url('../fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('../fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('../fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}