$raleway: 'raleway';
$pacifico: 'pacifico';

$black: #262626;
$white: #fff;
$purple: #b07cf7;
$yellow: #ffe92f;
$sky-blue: #70bfff;
$aquamarine: #00b4b4;
$aquamarine-light: #00c4c4;
$dark-blue: #5585a2;
$blue: #355b82;
$green: #96b92c;
$orange: #ff6033;
$red: #f72b3b;
$rose: #ff2b58;
$light-grey: #b9b9b9;
